body{
	background: url("gradient.png");
	background-size: cover;
	background-repeat: repeat-x;
	z-index: -15;
	height: 100vh;
	color: white;
	/*overflow: hidden;*/
}

.navbar {
	width: 100vw;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   font-family: 'Julius Sans One', sans-serif;
   color:#fff; 
}

 .navbar-default .navbar-nav>li>a {
     font-size:20px; 
     color:#fff; 
 }
.navbar-default .navbar-brand{
 	color:#fff;
 }
h1{
	font-family: 'Julius Sans One', sans-serif;
	letter-spacing: 10px;
	/*padding-bottom: 70px;*/
}

h3{
	font-family: 'Julius Sans One', sans-serif;
	letter-spacing: 10px;
}

h4{font-family: 'Montserrat', sans-serif;}

h5{font-family: 'Montserrat', sans-serif;}

.fa{
	font-size: 50px !important; 
}

#githubicon{
	color:white;
}
#githubicon:hover{
	color:#DEDEF6;
}

 #maincontainer{
 	background: rgba(0, 0, 0, 0.2);
 }

 #toptext{
	width: 65%;
	margin: 0 auto;
}
