body{
	background: url("images/minimalist/background.png") repeat-x;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -15;
	height: 100vh;
	color: white;
	/*overflow: hidden;*/
	/*background-color: black;*/
}

.navbar {
	width: 100vw;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   font-family: 'Julius Sans One', sans-serif;
   color:#fff; 
}

 .navbar-default .navbar-nav>li>a {
     font-size:20px; 
     color:#fff; 
 }
.navbar-default .navbar-brand{
 	color:#fff;
 }
h1{
	font-family: 'Julius Sans One', sans-serif;
	letter-spacing: 10px;
}

h3{
	font-family: 'Julius Sans One', sans-serif;
	letter-spacing: 10px;
}

h4{
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
}

h5{font-family: 'Montserrat', sans-serif;}

.fa{
	font-size: 50px !important; 
}

#githubicon{
	color:white;
	padding-bottom: 50px;
}
#githubicon:hover{
	color:#DEDEF6;
}

 #maincontainer{
 	background: rgba(255, 255, 255, 0.2);
 }

 #toptext{
	width: 65%;
	margin: 0 auto;
}

.thumbnail{
	/*max-height: 300px;*/
	margin: 50px;
	background-color: rgba(0,0,0,0);
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	
}
.videoWrapper iframe {
	position: absolute;
	top: 14%;
	left: 14%;
	width: 70%;
	height: 70%;
	border: solid 3px white;
}
/*
img{
	width: 45%;
	float: left;
	margin: 1.66%;
}
*/

.thumbnail{
	min-height: 10px;
}



