body{
	background: url("gradient.png");
	background-size: auto;
	background-repeat: repeat-x;
	z-index: -15;
	height: 100vh;
	font-family: 'Julius Sans One', sans-serif;
	color: white;
	overflow: hidden;
}

.navbar {
	width: 100vw;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   color:#fff; 
}
 .navbar-default .navbar-nav>li>a {
     font-size:20px; 
     color:#fff; 
 }
.navbar-default .navbar-brand{
 	color:#fff;
 }
h1{
	/*font-weight: 700;*/
	font-size: 5em;
	letter-spacing: 10px;
}

.header{
	position: center;
	margin-top: -200px;

	z-index: 2;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h3{
	font-size: 3em;
}

html{
	height:100%;
}

.row{
	margin-top: 20px;
	padding-top: 0px;
}

#content {
	text-align:center;
	padding-top: 0;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

hr{
	position:center;
	width:400px;
}

.wrapper {
	overflow: hidden;
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    /*height:300px;*/
}

.sliding-background {
  
  zoom: 600%;
  height: 560px;
  width: 5076px;
  position: absolute;
  
}
#grass{
	zoom:500%;
	background: url("grass.png") repeat-x;
	background-position: 0px 73px;
	animation: slide 125s linear infinite;
	z-index: -2;
}
#foregroundMountain{
	zoom:400%;
	background: url("backmountains.png") repeat-x;
	background-position: 0px 75px;
	animation: slide 150s linear infinite;
	z-index: -3;
}
#backgoundMountain{
	zoom:300%;
	background: url("mountains.png") repeat-x;
	background-position: 0px 90px;
	animation: slide 200s linear infinite;
	z-index: -4;
}
#fog{
	zoom:300%;
	background: url("fog.png") repeat-x;
	background-position: 0px 40px;
	z-index: -5;
	opacity: 0.4;
}
#rocks{
	zoom:300%;
	background: url("rocks.png") repeat-x;
	background-position: 0px 1px;
	animation: slide 800s linear infinite;
	z-index: -6;
}
.rocks2{
	background: url("rocks2.png") repeat-x !important;
}
.rocks3{
	background: url("rocks3.png") repeat-x !important;
}
#moon{
	background: url("moon.png") no-repeat;
	z-index:-13;
	top:15px;
	left: 10px;
}
#stars{
	background: url("stars1.png") repeat-x;
	z-index:-7;
	left:-14px;
	top:50px;
	zoom:300%;
}

.starAnimate2 {
	background: url("stars2.png") repeat-x !important;
}

.starAnimate3 {
	background: url("stars3.png") repeat-x !important;
}



@keyframes slide{
  0%{transform: translate3d(0, 0, 0);}
  100%{transform: translate3d(-1692px, 0, 0);}
}

@keyframes MarqueeLeft{
	0% { right: -100% }
	100% { right: 100%}
}

img{
	/*zoom:200%;*/
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    /*position: absolute;*/
}

#git{
	width:50px;
	height:auto;
	position: center;
}

.moving{
	overflow: hidden;
	position: relative;
	animation: MarqueeLeft linear 15s infinite;
	z-index: -2;
}

#cloud1{
	padding-top: 7%;
	z-index: -5;
	zoom:200%;
	animation: MarqueeLeft linear 18s infinite;
}

#cloud2{
	padding-top: 7%;
	z-index: -5;
	zoom:200%;
	animation: MarqueeLeft linear 14s infinite;
}

#cloud3{
	padding-top: 12%;
	zoom:150%;
	z-index: -10;
	animation: MarqueeLeft linear 15s infinite;
}

#bigcloud1{
	padding-top:17%;
	zoom:150%;
	z-index: -10;
	animation: MarqueeLeft linear 25s infinite;
}

/* The animation code */
@keyframes cycle {
    0%   {background-color: red;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* The element to apply the animation to */
#testcase {
    width: 400px;
    height: 100px;
    background-color: red;
    animation-name: cycle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
