body{
	background: rgb(128, 167, 192);
	z-index: -15;
	height: 100vh;
	font-family: 'Raleway', sans-serif;
	color: white;
	overflow: hidden;
}

/*#everything{
	overflow: hidden;
}*/
/* =============== NAVBAR =============== */
.navbar {
	width: 100vw;
 	background-color: transparent;
   	background: transparent;
   	border-color: transparent;
   	color:#fff; 
    margin-bottom: 5px;
}
.navbar-default .navbar-nav>li>a {
     font-size:20px; 
     color:#fff; 
}
.navbar-default .navbar-brand{
 	color:#fff;
}

/* =============== HEADER =============== */
.header{
	z-index: 2;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
h1{
	font-size: 7vw;
	letter-spacing: 10px;
}
hr{
	position:center;
    border: 0;
    height: 2px;
    width: 60vw;
    border-top:2px solid #f8f8f8;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    /*background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));*/
}

html{
	height:100%;
}

.row{
	position: 0vh center;
	padding-top: 20vh;
}

#content {
	text-align:center;
	padding-top: 0;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.wrapper {
	overflow: hidden;
	/*disable antialiasing */
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/* =============== MOVING =============== */
.sliding-background {
  height: 100vh;
  width: 5076px;
  position: absolute;
  height: 100%;
  background-size: auto 85% !important;
}
#one{
	background: url("images/backgroundImages/one.png") repeat-x;

	animation: slide 150s linear infinite;
	z-index: -2;
}
#two{
	background: url("images/backgroundImages/two.png") repeat-x;
	animation: slide 300s linear infinite;
	z-index: -3;
}
#three{
	background: url("images/backgroundImages/three.png") repeat-x;
	animation: slide 350s linear infinite;
	z-index: -4;
}
#four{
	z-index: -5;
	animation: slide 400s linear infinite;
	background: url("images/backgroundImages/four.png") repeat-x;
}
#five{
	z-index: -5;
	animation: slide 450s linear infinite;
	background: url("images/backgroundImages/five.png") repeat-x;
}
#six{
	animation: slide 500s linear infinite;
	background: url("images/backgroundImages/six.png") repeat-x;
	z-index: -5;
}

@keyframes slide{
  0%{transform: translate3d(0, 0, 0);}
  100%{transform: translate3d(-1692px, 0, 0);}
}

/* =============== STATIONARY =============== */
#moon{
	background: url("moon.png") no-repeat;
	z-index:-13;
	top:15px;
	left: 10px;
}
#stars{
	background: url("stars1.png") repeat-x;
	z-index:-7;
	left:-14px;
	top:50px;
	zoom:300%;
}

.starAnimate2 {
	background: url("stars2.png") repeat-x !important;
}

.starAnimate3 {
	background: url("stars3.png") repeat-x !important;
}


#git{
	width:50px;
	height:auto;
	position: center;
}

/*.moving{
	overflow: hidden;
	position: relative;
	animation: MarqueeLeft linear 15s infinite;
	z-index: -2;
}*/

